@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@1,500&display=swap');

body {
    background-color: #60a3bc;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Kanit', sans-serif;
  } 

.active {
    box-shadow: inset 3px 3px 5px;
    background-color: #3c6382;
  }